<div class="flex flex-col p-8 rounded-lg shadow-xl">
    <h1 class="text-3xl mb-4">Películas</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 pt-2 pb-4">
        <div *ngFor="let movie of movies; let i = index" class="flex justify-center">
            <div class="w-full h-full flex justify-center">
                <movie-card [movie]="movie"></movie-card>
            </div>
        </div>
    </div>
    <div class="pagination-container">
        <button (click)="prevPage()" [disabled]="currentPage === 1" class="pagination-button">
          Anterior
        </button>
        <button (click)="nextPage()" [disabled]="(currentPage * limit) >= totalMovies" class="pagination-button">
          Siguiente
        </button>
      </div>
      
