<div  appearance="fill" class="filter-dropdown">
  <mat-form-field appearance="fill">
    <mat-label>Filtrar por</mat-label>
    <mat-select [(value)]="selectedFilter" (selectionChange)="onFilterChange()">
      <mat-option value="genre">Género</mat-option>
      <mat-option value="year">Año</mat-option>
      <mat-option value="rating">Clasificación</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="selectedFilter === 'genre'">
    <mat-label>Seleccionar Género</mat-label>
    <input 
      matInput 
      [(ngModel)]="selectedValue" 
      [matAutocomplete]="auto" 
      (ngModelChange)="onFilterChange()"
      (keyup.enter)="onEnterPress()"
    />

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let genre of genres" [value]="genre">
        {{ genre }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="selectedFilter === 'year'">
    <mat-label>Seleccionar Año</mat-label>
    <input matInput type="number" [(ngModel)]="selectedValue" (ngModelChange)="onFilterChange()" [min]="1900" [max]="2025" />
  </mat-form-field>
  <mat-form-field appearance="fill" *ngIf="selectedFilter === 'rating'">
    <mat-label>Seleccionar Clasificación</mat-label>
    <mat-select [(value)]="selectedValue" (selectionChange)="onFilterChange()">
      <mat-option value="G">Todo público</mat-option>
      <mat-option value="PG">Supervisión de padres</mat-option>
      <mat-option value="PG-13">Mayores de 13 años</mat-option>
      <mat-option value="PG-15">Mayores de 15 años</mat-option>
      <mat-option value="R">Mayores de 17 años (con adulto)</mat-option>
      <mat-option value="NC-17">Solo adultos</mat-option>
    </mat-select>
  </mat-form-field>
  
</div>


