<div >
  <mat-form-field class="example-form" appearance="fill">
    <mat-label>Buscar {{ formMode === 'movies' ? 'Película' : 'Actor' }}
      <mat-icon>search</mat-icon>
    </mat-label>
    <input
      matInput
      [formControl]="searchInput"
      [matAutocomplete]="auto"
      placeholder="Escribe para buscar..."
      class="example-input">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedOption($event)">
        @for (option of searchResults; track option) {
          <mat-option [value]="option">
            {{ formMode === 'movies' ? option.title : option.name }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    @if (selectedOption) {
      <div class="selection-details">
        @if (formMode === 'movies') {
          <p>
            Película seleccionada: {{ selectedOption.title }}
          </p>
        }
        @if (formMode === 'actors') {
          <p>
            Actor seleccionado: {{ selectedOption.name }}
          </p>
        }
      </div>
    }
  </div>

