<div class="flex justify-center items-center h-screen bg-[#141414]">
  <mat-card appearance="outlined" class="flex-col justify-center items-center">
    <mat-card-content>
      <h2 class="font-semibold text-3xl mb-4 text-white">Create your account</h2>
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="w-full">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Enter your full name" formControlName="name" required>
          @if (studentForm.get('firstName')?.invalid && studentForm.get('firstName')?.touched) {
            <mat-error>
              First Name is required.
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Enter your email" formControlName="username" required>
          @if (studentForm.get('email')?.invalid && studentForm.get('email')?.touched) {
            <mat-error>
              Please enter a valid email address.
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter your password" formControlName="password">
        </mat-form-field>
        <div class="flex justify-between mt-2">
          <button mat-flat-button color="primary" type="submit" [disabled]="studentForm.invalid">
            <mat-icon>save</mat-icon> Submit
          </button>
          <button mat-flat-button color="accent" type="button" (click)="goToLogin()">
            <mat-icon>arrow_back</mat-icon> Back to Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>