.mat-card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 24px;
}

mat-label{
  padding-bottom: 300px !important;

}

button {
  margin-top: 16px;
}

img {
  cursor: pointer;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

img:hover {
  transform: scale(1.05);
}


.grid {
  width: 100%;
  display: grid;
  gap: 30px;
  
}

.grid img {
  width: 100%;
  max-height: 12rem; 
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s ease;
  border: 2px solid #e5e7eb;
}

.flex.flex-col.gap-2 {
  margin-top: 8px;
}

