<div class="p-5">
  <mat-card class="shadow-lg">
    <mat-card-header>
      <mat-card-title>{{ isEditMode ? 'Editar Película' : 'Crear Nueva Película' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="movieForm" (ngSubmit)="onSubmit()"> 
        <div>
          <div class="grid gap-5 grid-cols-1 sm:grid-cols-2">
            <mat-form-field appearance="fill" class="w-full" floatLabel="always">
              <mat-label>Título</mat-label>
              <input matInput formControlName="title" />
              <mat-error *ngIf="movieForm.get('title')?.hasError('required')">El título es requerido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full" floatLabel="always">
              <mat-label>Descripción</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full" floatLabel="always">
              <mat-label>Género</mat-label>
              <mat-select formControlName="genre">
                <mat-option *ngFor="let genre of genres" [value]="genre">
                  {{ genre }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full" floatLabel="always">
              <mat-label>Director</mat-label>
              <input matInput formControlName="director" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full" floatLabel="always">
              <mat-label>Año de Lanzamiento</mat-label>
              <input matInput formControlName="releaseYear" type="number" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full" floatLabel="always">
              <mat-label>Calificación</mat-label>
              <input matInput formControlName="rating" type="number" min="0" max="10" step="0.1" (input)="validateRating($event)">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full" floatLabel="always">
              <mat-label>Reparto (Actores)</mat-label>
              <mat-select formControlName="cast" multiple>
                <mat-option *ngFor="let actor of actors" [value]="actor._id">
                  {{ actor.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full" floatLabel="always">
              <mat-label>Clasificación</mat-label>
              <mat-select formControlName="clasification">
                <mat-option value="G">Todo público</mat-option>
                <mat-option value="PG">Supervisión de padres</mat-option>
                <mat-option value="PG-13">Mayores de 13 años</mat-option>
                <mat-option value="PG-15">Mayores de 15 años</mat-option>
                <mat-option value="R">Mayores de 17 años (con adulto)</mat-option>
                <mat-option value="NC-17">Solo adultos</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="onAddImage()" [disabled]="movieForm.get('posters')?.value.length >= 12">
              Agregar Imagen
            </button>
          </div>
          <div>
          <div class="mt-4 w-full">
            <label>Imágenes</label>
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 lg:grid-cols-8 gap-6 w-full">
              <div *ngFor="let poster of movieForm.get('posters')?.value; let i = index" class="flex flex-col items-center space-y-2 w-full">
                <img [src]="poster.url" alt="Poster" class="w-full h-auto min-h-[200px] max-h-48 object-cover rounded shadow-md border border-gray-300">
                <mat-radio-group formControlName="cover">
                  <mat-radio-button [value]="poster._id" [checked]="poster._id === movieForm.get('cover')?.value">
                    Portada
                  </mat-radio-button>
                </mat-radio-group>
                <div class="flex flex-col gap-2 w-full">
                  <button mat-raised-button color="primary" (click)="onChangeImage(i)" class="w-full">Cambiar</button>
                  <button mat-raised-button color="warn" (click)="onDeleteImage(i)" 
                          [disabled]="movieForm.get('posters')?.value.length <= 1" class="w-full">
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="mt-4 flex justify-between">
          <button mat-raised-button color="warn" *ngIf="isEditMode" (click)="onDelete()" class="ml-4">Eliminar Película</button>
          <button mat-raised-button color="primary" [disabled]="movieForm.invalid" type="submit">
            {{ isEditMode ? 'Guardar Cambios' : 'Crear Película' }}
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>